.venv/
__pycache__/
*.pyc
.DS_Store

.env
.env.*

*.db
*.sqlite
*.sqlite3

# Cowrie runtime data
docker/cowrie/var/log/
docker/cowrie/var/lib/cowrie/tty/
docker/cowrie/var/lib/cowrie/downloads/
docker/cowrie/var/lib/cowrie/ssh_host_*
docker/cowrie/var/lib/cowrie/uuid
